.emailWorkItemContentContainer {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
}

.emailWorkItemContentContainer
.emailWorkItemContentTitle {
    font-weight: bold;
}

.emailWorkItemContentContainer
.emailWorkItemContentRadioContainer {
    border: 1px solid lightgray;
    padding: 10px;
    margin-top: 10px;
}

.emailWorkItemContentContainer
.emailWorkItemContentRadio {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
}

.emailWorkItemContentContainer
.emailWorkItemContentButtonContainer {
    text-align: right;
}

.emailWorkItemContentContainer
.emailWorkItemContentMailToLink {
    display: inline-block;
    padding-top: 10px;
}